﻿body {
    .first-carousel {
        img {
            width: 100%;
            height: auto;
        }

        .carousel-indicators {
            li {
                line-height: 48px;
                height: 48px;
                text-indent: initial;
                text-align: center;
                color: white;
                font-weight: bold;
            }

            li, li.active {
                background-color: transparent;
            }

            li.active {
                color: #39c2d7;
                font-size: 2em;
                transition: font-size 1s, color 2s;
            }
        }
    }

    .navbar-wrapper {
        background-color: #39c2d7;

        .container {
            padding: 0px;
        }
    }
}
