﻿<div class="navbar-wrapper fixed-top">
    <div class="container">
        <navigation-bar></navigation-bar>
    </div>
</div>
<div class="first-carousel">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active">
                <i class="fa fa-circle-o" aria-hidden="true"></i>
            </li>
            <li data-target="#carousel" data-slide-to="1">
                <i class="fa fa-circle-o" aria-hidden="true"></i>
            </li>
            <li data-target="#carousel" data-slide-to="2">
                <i class="fa fa-circle-o" aria-hidden="true"></i>
            </li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block img-fluid" src="../../content/imgs/sliders/slider_1.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid" src="../../content/imgs/sliders/slider_2.jpg">
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid" src="../../content/imgs/sliders/slider_3.jpg">
            </div>
        </div>
    </div>
</div>