﻿nav {
    padding: 0px !important;

    a, botton {
        color: white !important;
        font-size: 20pt !important;
        padding-right: 5px;
        padding-left: 5px;
        font-family: 'Akrobat-Black';
    }

    li.nav-item.active, li.nav-item :hover{
        background-color: #14B4CC;
    }
}
